POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=Abc.123!
POSTGRES_PORT=5432
APP_DB_USER=ciam
APP_DB_PASSWORD=replace-for-local-use
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=replace-for-local-use
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=replace-for-local-use
KEYCLOAK_REALM=ciam
KEYCLOAK_API_CLIENT_SECRET=replace-for-local-use
KEYCLOAK_PORT=8080
API_PORT=5240
FRONTEND_PORT=4200
DATABASE_APPLY_MIGRATIONS=true
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-for-local-use
